<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN">
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>{{ name }} ranking</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
   	<link rel="stylesheet" href= {{ s }} >
<!--	<link rel="stylesheet" href="./css/bootstrap.css" > -->
</head>

<body background-color:"#9B59B6">
	<div class="panel panel-default">
		<div align="center" class="panel-body">
			<h2>Purchase successful</h2>
		</div>
	</div>
</body>
