<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN">
<html lang="en">

  <head>
    <meta charset="utf-8">
    <title>{{ name }} ranking of your region</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
   	<link rel="stylesheet" href= {{ s }} >
<!--	<link rel="stylesheet" href="./css/bootstrap.css" > -->
  </head>

<body background-color:"#9B59B6">
	<div align="center" class="jumbotron">
  		<h2>Prize Pool of {{ zone }}:</h2>
  		<h1>{{ prize }} $</h1>
	</div>
	<div>
		<div class="panel panel-default">
  			<div align="center" class="panel-body">
  				<h4>You are rank {{ rank }} of your zone</h4>
  			</div>
  		</div>
  		{% if yoleft == "0" %}
		<div class="panel panel-default">
			<div align="center" class="panel-body">
				<div id="getyolos">
					<h4>Get more YOLOs!</h4>
				</div>
				<div class="form-group">
					<form action="https://17cff94d.ngrok.com/payment" method="POST">				  	
				  		<input class="form-control" id="focusedInput" name="yolos" type="text">
				  		<input type="hidden" name="username" value= {{ username }} >
				  	</form>
				</div>
			</div>
		</div>
  		{% else %}
	  		<div class="panel panel-default">
	  			<div align="center" class="panel-body">
	  				<h4>{{ yoleft }} YOLOs left</h4>
	  			</div>
			</div>
		{% endif %}
		<div class="panel panel-default">
  			<div align="center" class="panel-body">
  				<h3>Ranking</h3>
  				<ul class="list-group">
	  				{% for t in top %}
	  				<li class="list-group-item">
	  					<h4>{{ t }}</h4>
					</li>
					{% endfor %}
				</ul>
  			</div>
		</div>
	</div>
</body>
</html>