<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN">
<html lang="en">

  <head>
    <meta charset="utf-8">
    <title>Winners of this week!</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <link rel="stylesheet" href= {{ s }} >
  </head>

<body background-color:"#9B59B6">
	<div align="center" class="jumbotron">
  		<h2>This week's prize was won by</h2>
  		{% for i in winners %}
  		<h1> {{ i }} </h1>
  		{% endfor %}
  		<h1>He won {{ prize }} $!s</h1>
	</div>
</body>
</html>